<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./styles/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}

        <img class="img" src="./img/ukraina.jpg" />
    </div>

    {{>footer}}
</body>

</html>